# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp

# Node (por si acaso)
node_modules/

# Env
.env
.env.local

# PHP debug (no subir)
**/diagnostico.php
**/generate_hash.php
**/seed.php
